button {
  background-color: #5ba8f5;
  border: 6px solid rgb(32, 24, 78);
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #2c90f5;
  border: 6px solid rgb(32, 24, 78);
  border-radius: 10px;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #9eb6ce;
  color: rgb(32, 24, 78);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  /* border: 6px solid #739dc7; */
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-color: rgb(175, 70, 70); */
}

.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}

.red {
  color: red;
}

.white {
  color: white;
}
.title {
  color: rgb(32, 24, 78);
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}

.mark {
  font-size: 2.5rem;
}
